<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Details</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Jersey+15&family=Poppins:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="flex items-center justify-between">
      <%- include("partials/logo") %>
      <div class="profile flex items-center">
        <div class="mx-2">
          <h1 class="text-2xl leading-2">Hello <%= user.fullname %>!</h1>
          <%- include("partials/logout") %>
        </div>
        <div
          class="bg-white border-2 border-black rounded-full flex justify-center items-center w-12 h-12"
        >
          <ion-icon
            class="text-3xl text-black"
            name="person-outline"
          ></ion-icon>
        </div>
      </div>
    </div>
    <div class="flex justify-between my-5 items-center">
      <div>
        <a class="underline" href="/shop">Go Back</a>
      </div>
      <div>
        <h1 class="text-4xl text-center mt-3">Your Orders:</h1>
      </div>
      <div>
        <h1 class="text-center mt-3">Your Total  Orders: <%= orders.length%></h1>
      </div>
    </div>
    <div class="flex justify-center">
      <div class="w-[20%]">
        <p class="text-2xl">Trending Products</p>
        <p class="text-2xl">Recently added Product</p>
      </div>
      <div class="mt-5 space-y-5 w-[80%]">
        <% if (orders.length > 0) { %> <% orders.forEach((order) => { %>
        <div class="flex justify-between items-center">
          <div>
            <p>Product Id: <%= order.productId %></p>
          </div>
          <div>
            <p class="text-2xl">
              Status:
              <span class="text-gray-900"><%= order.status %></span>
            </p>
          </div>
          <div>
            <p>
              Order Date: <%= order && order.orderDate ? new Date(order.orderDate).toLocaleDateString() : "N/A" %>
            </p>
            <p>
              Order Time: <%= order && order.orderDate ? new Date(order.orderDate).toLocaleTimeString() : "N/A" %>
            </p>
        </div>
        
        </div>
        <div class="w-full flex gap-5 h-[120px] border-2 border-black">
          <div class="h-full">
            <img class="h-full" src="<%= order.image %>" alt="" />
          </div>
          <div class="flex w-full justify-between items-center">
            <div>
              <p>Title: <%= order.title %></p>
              <p>Quantity: <%= order.quantity %></p>
              <p>Payment Method: <%= order.paymentMethod %></p>
              <p>Total Amount: <%= (order.totalAmount).toFixed(2) %>$</p>
            </div>
            <div class="flex flex-col">
              <a
              href="/delete-product/<%= order._id %>"
                class="px-2 py-1 mx-4 my-1 bg-black text-white rounded-sm"
              >
                Delete
            </a>
              <button
                class="px-2 py-1 mx-4 my-1 bg-black text-white rounded-sm"
              >
                Update
              </button>
            </div>
          </div>
        </div>
        <% }) %> <% } else { %>
        <p class="text-center text-gray-300 text-xl">No orders yet.</p>
        <% } %>
      </div>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
